runs*/
LJSpeech-1.1/
output*
scripts_joc/
tests/
pretrained_models/
final_checkpoint/
checkpoint_FIRST_DATASET/
server/
text/
old_server/
*.pyc
__pycache__

.idea/
.DS_Store

*.swp
*.swo
*.swn
*.txt
*.pt
*.onnx
*.pb
fastpitch_tf
acronym
vocab_phoneme
cmudict_vn
